/*!
 * Roots 6.5.2
 */
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,700,300);

@import "bootstrap/bootstrap.less";



/* ==========================================================================
   Base
   ========================================================================== */

body {
}
.backdrop {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;

  background: rgb(238,238,238); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

.entry-title { 
  border-bottom: 3px solid rgba(0,0,0,.5);
  font-size:2em; 
  a { color:#000; }
}

/* ==========================================================================
   Header
   ========================================================================== */

.banner { 
  margin-bottom:10px;
  a.navbar-brand { 
    border-top: 1px solid #555;
    height: 46px;
    border-left: 1px solid #555;
    border-right: 1px solid #555;
    margin-top: 4px;
    line-height: 8px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-color: transparent;
    box-shadow: 0 -4px 10px -3px rgba(0,0,0,.5);
    color: #e55;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    &:hover { color:#e99; }
  }
}



/* ==========================================================================
   Content
   ========================================================================== */

.content {
  .thumbnail { 
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
  }
  p {
    text-align:justify;
    & > img { 
      max-width: 100%;
      height: auto;
      margin-bottom: 1em;
    }
    &> br { content:""; display:block; margin: 0 0 .6em; }
  }
  .thumbnail { 
    background:none;
    border:none;
  }
  img{
    max-width: 100%;
    height: auto;
  }
}



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

footer.content-info { 
  width:100%;
  >.row {
    margin-left:0;
    margin-right:0;
  }
  #footer_info_button { 
    transition: all 500ms ease;
    color:#888; 
    font-size:18px; 
    padding: 0 .5em 1em;
    &:hover { color:#fcfcfc; }
  }
  .reveal { 
    overflow:hidden;
    height:0px;
    background:#eee;
    box-shadow:inset 0 0 10px -6px;
    // padding:.5em;
    width:100%;
    position:relative;
    -webkit-transition: height 500ms ease;
    -moz-transition: height 500ms ease;
    -o-transition: height 500ms ease;
    transition: height 500ms ease;   
    -webkit-transition-delay: 1000; /* Safari */
    transition-delay: 1000;
    > div { padding:.5em; }
    .contact_info { 
      line-height:1.6em;
      > span {
        margin-right:4px; 
        &:after { content: ":"}
      }
    }
    .designed_by_ianumeda {
      text-align: right;
      color: rgba(0,0,0,.5);
      a {
        opacity:.5;
        &:hover { opacity:1; }
      }
    }
  }
  &.active {
    #footer_info_button { 
      opacity:0;
    }
    .reveal {
      height:120px;
      -webkit-transition-delay: 0; /* Safari */
      transition-delay: 0;
    }
  }
}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }


/* ==========================================================================
   CUSTOM
   ========================================================================== */
.breadcrumbs{
  display: inline-block;
}
.breadcrumb {
  margin-right:10px;
  padding:0;
  float:left;
	background-color: transparent;
  color:#aaa;
  font-weight:100;
	a {
		color: #aaa;
    &:hover { 
      color:#000; 
      text-decoration:none;
    }
	}
  // li:after{ content:" / "; margin-left:.5em;}
  li {
    &+li:before { content:""; padding:0; }
    &:after {content:" : "; padding:.5em; }
    &:last-child:after { content:""}
    &:last-child { font-weight:100; font-size:20px; color:#444; 
      &:before { font-size:1em; }
    }
  }
}

/* ==========================================================================
   Carousel Custom
   ========================================================================== */
.snazzy_thumbnails .carousel-indicators { opacity:0; }
.CurrentWorkCarousel {
	.carousel-inner {
    height:170px; // these heights are important in setting the size and placement of the carousel images using function make_background_carousel_fit()
    .item {
      height: 170px;
    }
    // overflow:visible;
	}
}
#GoldringCarousel {
  padding:0 0 60px;
  overflow-x:hidden;
	.carousel-inner>.item>img, .carousel-inner>.item>a>img {  
		margin: 20px auto;
	}
	.carousel-inner {
    height: 540px; // these heights are important in setting the size and placement of the carousel images using function make_background_carousel_fit()
    .item {
      height: 540px;
    }
    // overflow:visible;
	}
	.carousel-indicators {
		position: relative;
		left: 0%;
		width: 100%;
		margin-left: 0%;
    margin-top:50px;
		z-index: 15;
		padding-left: 0;
		list-style: none;
		text-align: center;	
	}
	.carousel-indicators > li.active {
	}
	.carousel-indicators>li {
    position:relative;
		text-indent: 0px;
		margin: 4px;
    padding: 8px;
		border: none;
		border-radius: 0px;
		width: 66px;
		height: auto;
    > img {
      opacity:.4;
    	-webkit-transition: 0.5s ease;
    	-moz-transition: 0.5s ease;
    	-ms-transition: 0.5s ease;
    	-o-transition: 0.5s ease;
    	transition: 0.5s ease;
  		width: 50px;	
      box-shadow:0 0 10px -4px;
  	}
    &.active{
      background:rgba(255,255,255,0);
      > img {
        opacity:1;
        box-shadow:0 0 10px 0px;
      }
    }
    &:hover {
      > img {
        opacity:1;
      } 
    }
	}
}

.carousel-caption {
  position:relative; 
  left:0;
  right:0;
  // bottom:-50px;
  margin-top:10px;
  padding-bottom:0;  
  font-weight: 100;
  font-size: 12px;
  text-shadow:none; 
  color: #555;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 1px;
  > p { margin:0 0 2px; }
  .title { position:relative; text-align:center; }
  .excerpt { position:relative; text-align:center;}
  .content { position:relative; text-align:center;}
}
#post_content_modal { 
  position: fixed;
  bottom:0; 
  left:0;
  z-index: 12;
  box-shadow: 0px -2px 10px -4px;
  height: auto;
  background: #eee;  
  padding:2em;
  z-index:100;
  width:100%;
  max-height:65%;
  min-height:200px;
  overflow:auto;
  > a.close {
    position:absolute;
    top:.5em;
    right:.5em;
    font-size:16px;
  }
}
.post_content_modal a { 
  color:#555;
}
#art_post{
  .post_title{
    font-weight: 400;
    color: #444;
    font-size: 18px;
  }  
}
#art_post_buttons { 
  float:left;
  color:#555;
  line-height:2em;
  a {
    background:#ccc;
    &:hover { background:#ddd;}
  }
  .open_fullscreen_presentation {
    color:inherit;
    z-index:100;
    a { 
      color: #555;
      &:hover {
        text-decoration:none;
        // color:#aaa;
      }
    }
  }
  a.post_content_modal { 
    color: #555;
    &:hover {
      text-decoration:none;
      // color:#aaa;
    }
  }
}
// Fade transition for carousel items
.carousel-control{
  position:fixed;
  width:10%;
  height:40%;
  top:40%;
}
.carousel {
  .carousel-inner{
    .item {
      // -webkit-transition-delay: 5s; /* Safari */
      // transition-delay: 5s;
      &.active {
        // -webkit-transition-delay: 0s; /* Safari */
        // transition-delay: 0s;
      }
    }
  }
  .item {
    left: 0 !important;
    .transition(opacity 1.5s); //adjust timing here
  }
  .carousel-control {
    background-image: none; // remove background gradients on controls
  }
  // Fade controls with items
  .next.left,
  .prev.right {
    opacity: 1;
    z-index: 1;
  }
  .active.left,
  .active.right {
    opacity: 0;
    z-index: 2;
  }
}
.background-carousel { 
  .background_image_container { 
    background-position:center; 
    -webkit-background-size: auto 100%; 
    -moz-background-size: auto 100%; 
    -o-background-size: auto 100%; 
    background-size: 100% auto; 
    background-repeat: no-repeat;
    // overflow:hidden;
    // height:480px;
    margin:0 auto;
    >img{
      position:relative;
      display:block;
    }
  }
}
#feature_carousel {
  .carousel-indicators {
    position:relative;
    bottom:-20px;
    li { 
      .transition(background .4s);
      border:1px solid #888;
      background:rgba(0,0,0,0);
      &.active { background:#aaa; }
      &:hover { background:#fcfcfc; }
    }
  }
}
a.carousel-control {
  color:#aaa;
  text-shadow:none;
  &.right,&.left { background-image:none; }
}
.coverall_link {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  text-align:center;
  vertical-align:middle;
  opacity:0;
  >span { vertical-align:middle; }
}
button.art_about {
  > span.glyphicon-plus { display:none; }
  > span.glyphicon-minus { display:inline-block; }
  &.collapsed {
    > span.glyphicon-minus {display:none; }
    > span.glyphicon-plus { display:inline-block; }
  }
}
.page-header { 
  margin:0;
  border-bottom:none;
}
/* ==========================================================================
   Packery Custom
   ========================================================================== */



.js-packery>.pack-item { 
  width: 33%;
  height: 240px;
  padding:15px;
  .title { 
    text-align: center;
    top: 180px;
    position: absolute;
    width: 100%;
    left: 0;
  }
}

.CurrentWorkCarousel {
  // height: 200px;
	img {		
		max-height: 150px;
		margin: 0 auto;
	}
}
.modal-backdrop{
  background: rgba(102,102,102,1);
  background: -moz-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(61,61,61,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(102,102,102,1)), color-stop(100%, rgba(61,61,61,1)));
  background: -webkit-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(61,61,61,1) 100%);
  background: -o-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(61,61,61,1) 100%);
  background: -ms-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(61,61,61,1) 100%);
  background: linear-gradient(to bottom, rgba(102,102,102,1) 0%, rgba(61,61,61,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#3d3d3d', GradientType=0 );
}
.modal-backdrop.in { opacity:1 } 
#art_modal_fullscreen {
  .carousel-caption { color:#ccc; }
  .item.background-carousel { 
    padding:60px 15px;
    top:0;
    right:0;
    bottom:0;
    left:0;
    position:fixed;
    > .background_image_container { 
      width:100%; 
      >img { 
        display:block; 
        position:relative;
      }
    }
  }
  .modal-title {
    font-size:1.6em; 
    color:white;
    .site_title { 
      color:#e55;
      text-transform:uppercase; 
      letter-spacing:2px; 
      font-weight:100;
      margin-right:.5em;
    }
    .art_title {
      font-weight:100;
      letter-spacing:1px;
      display:inline-block;
      font-size:14px;
    }
  }
  overflow:hidden;
	.carousel-inner>.item>img, .carousel-inner>.item>a>img, {  
		margin: 0 auto;
		height: 100%;
	}
	.carousel-inner>.item>img, .carousel-inner>.item>a>img, {  
		margin: 0 auto;
		height: 100%;
	}
	.modal-dialog {
	  width: 100%;
    height:100%;
	  padding: 0;
	  margin: 0px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
	}
	.modal-content {
	  height: 100%;
	  border-radius: 0;
    background-color:transparent;
    box-shadow:none;
    -webkit-box-shadow:none;
    border:none;
    
	}
	.modal-body {
    z-index:5; 
	  padding: 0px;
	}
	.modal-footer {
    border:none;
    margin-top: 0px;
    padding: 35px 20px;
    position: absolute;
    bottom: 0;
  	}
	.modal-header {
    position:relative;
    z-index:10;
		margin-top: 0px;
		padding: 1em;
    border-bottom:none;
    button.close { 
      color: #fff;
      opacity: .8;
      padding: 0 .5rem 1rem;
      font-family: helvetica;
      font-size: 1rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: 100;
      line-height: 1rem;
      border-radius: 6px;
      transition: all .25s ease;
      > span { 
        font-size: 2rem;
        line-height: 2rem;
        top: 7px;
        display: inline-block;
        margin-left: .5rem;
      }
      &:hover { opacity:1; background:rgba(255,255,255,.2); }
    }
	}
  .carousel-control:hover, .carousel-control:focus { background-color:none; }
  .carousel-indicators {
    position:fixed; 
    bottom:0;
    li { 
      .transition(background .4s);
      border:1px solid #888;
      background:rgba(0,0,0,0);
      &.active { background:#aaa; }
      &:hover { background:#fcfcfc; }
    }
  }
}
