/*!
 * Roots 6.5.2
 */
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,700,300);

@import "bootstrap/bootstrap.less";



/* ==========================================================================
   Base
   ========================================================================== */

body {
}
.backdrop {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;

  background: rgb(238,238,238); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

}


/* ==========================================================================
   Header
   ========================================================================== */

.banner { 
  a.navbar-brand { 
    color: #e55;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    &:hover { color:#e99; }
  }
}



/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

footer.content-info { 
  width:100%;
  >.row {
    margin-left:0;
    margin-right:0;
  }
  #footer_info_button { 
    transition: all 500ms ease;
    color:#888; 
    font-size:18px; 
    padding: 0 .5em 1em;
    &:hover { color:#fcfcfc; }
  }
  .reveal { 
    overflow:hidden;
    height:0px;
    background:rgba(0,0,0,.05);
    box-shadow:inset 0 0 10px -6px;
    // padding:.5em;
    width:100%;
    position:relative;
    -webkit-transition: height 500ms ease;
    -moz-transition: height 500ms ease;
    -o-transition: height 500ms ease;
    transition: height 500ms ease;   
    -webkit-transition-delay: 1000; /* Safari */
    transition-delay: 1000;
    > div { padding:.5em; }
    .contact_info { 
      line-height:1.6em;
      > span {
        margin-right:4px; 
        &:after { content: ":"}
      }
    }
  }
  &.active {
    #footer_info_button { 
      opacity:0;
    }
    .reveal {
      height:120px;
      -webkit-transition-delay: 0; /* Safari */
      transition-delay: 0;
    }
  }
}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }


/* ==========================================================================
   CUSTOM
   ========================================================================== */
.breadcrumb {
	background-color: transparent;
	a {
		color: #000;
	}
}

/* ==========================================================================
   Carousel Custom
   ========================================================================== */
#GoldringCarousel {
	// background-color: gray;
}
#GoldringCarousel {
	.carousel-inner>.item>img, .carousel-inner>.item>a>img {  
		margin: 20px auto;
	}
	.carousel-inner {
		height: 500px;
	}
	.carousel-indicators {
		position: absolute;
		left: 0%;
		width: 100%;
		margin-left: 0%;
		bottom: 10px;
		z-index: 15;
		padding-left: 0;
		list-style: none;
		text-align: center;	
	}
	.carousel-indicators>.active {
		background-color: rgba(0,0,0,0);
	}
	.carousel-indicators>li {
		text-indent: 0px;
		margin: 10px;
		border: none;
		border-radius: 0px;
		width: 50px;
		height: 50px;
	}
	.carousel-indicators>li>img {
		width: 50px;	
	}
	.carousel-caption {
	position: relative;
	left: 0%;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	}
	.carousel-caption {
	
	}
}



#myModal {
	.carousel-inner>.item>img, .carousel-inner>.item>a>img, {  
		margin: 0 auto;
		height: 100%;
	}
	.carousel-inner>.item>img, .carousel-inner>.item>a>img, {  
		margin: 0 auto;
		height: 100%;
	}
	.modal-dialog {
	  width: 100%;
    height:100%;
	  padding: 0;
	  margin: 0px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
	}
	.modal-content {
	  height: 100%;
	  border-radius: 0;
    background-color:transparent;
    box-shadow:none;
    -webkit-box-shadow:none;
    border:none;
    
	}
	.modal-body {
	  padding: 0px;
	}
	.modal-footer {
    margin-top: 0px;
    padding: 35px 20px;
    position: absolute;
    top: 0;
  	}
	.modal-header {
		margin-top: 0px;
		padding: 0px;
    border-bottom:none;
	}
  .carousel-control:hover, .carousel-control:focus { background-color:none; }
  .carousel-indicators { 
    position:fixed; 
    bottom:0;
  }
}
// Fade transition for carousel items
.carousel {
  .item {
    left: 0 !important;
    .transition(opacity .6s); //adjust timing here
  }
  .carousel-control {
    background-image: none; // remove background gradients on controls
  }
  // Fade controls with items
  .next.left,
  .prev.right {
    opacity: 1;
    z-index: 1;
    -webkit-transition-delay: 1s; /* Safari */
    transition-delay: 1s;
  }
  .active.left,
  .active.right {
    opacity: 0;
    z-index: 2;
    -webkit-transition-delay: 0s; /* Safari */
    transition-delay: 0s;
  }
}
#feature_carousel {
  .background-carousel { 
    .background_image_container { 
      background-position:center; 
      -webkit-background-size: auto 100%; 
      -moz-background-size: auto 100%; 
      -o-background-size: auto 100%; 
      background-size: auto 100%; 
      background-repeat: no-repeat;
      overflow:hidden;
      height:540px;
    }
  }
  .carousel-indicators {
    position:relative;
    bottom:-20px;
    li { 
      .transition(background .4s);
      border:1px solid #888;
      background:rgba(0,0,0,0);
      &.active { background:#aaa; }
      &:hover { background:#fcfcfc; }
    }
  }
  .carousel-caption { 
    position:relative; 
    left:0; 
    right:0; 
    bottom:0; 
    padding-bottom:0;  
    font-weight: 100;
    font-size: 12px;
    color:#333;
    text-shadow:none; 
  }
}
a.carousel-control {
  color:#aaa;
  text-shadow:none;
  &.right,&.left { background-image:none; }
}
.coverall_link {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  text-align:center;
  vertical-align:middle;
  opacity:0;
  >span { vertical-align:middle; }
}
button.art_about {
  > span.glyphicon-plus { display:none; }
  > span.glyphicon-minus { display:inline-block; }
  &.collapsed {
    > span.glyphicon-minus {display:none; }
    > span.glyphicon-plus { display:inline-block; }
  }
}
.modal-backdrop.in { opacity:.8 } 

/* ==========================================================================
   Packery Custom
   ========================================================================== */



.js-packery>.pack-item { 
	width: 25%;
	height: 500px;			    
}

.CurrentWorkCarousel {
	height: 500px;
}

